.container-servicios {
    width: 100%;
    height: auto;
}
.container-banner-1, .container-banner-2{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}


/* ****************************** BANNER SISTEMAS ******************************** */

.texto-banner-sistemas {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background: linear-gradient(331deg, rgba(49,6,102,1) 15%, rgba(129,25,40,1) 49%, rgba(2,54,157,1) 92%);
    
}
    .texto-banner-sistemas h1{
        width: 80%;
        font-size: 40px;
        color: white;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 20px;
    }
    .texto-banner-sistemas p{
        width: 80%;
        font-size: 20px;
        color: white;
        font-weight: 300;
        text-align: justify;
        letter-spacing: 0.5px;
        line-height: 28px;
    }
    .texto-banner-sistemas button {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgb(121, 113, 77,0);
        border-style: none;
        border: 2px solid white;
        border-radius: 30px;
        margin-top: 20px;
        list-style: none;
        cursor: pointer;
    }
    .texto-banner-sistemas a{
        font-size: 20px;
        color: white;
        text-decoration: none;        
    }
    .texto-banner-sistemas button:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }

.imagen-banner-sistemas {
    width: 30%;
    height: 400px;
    background-image: url('../Images/SistemasBlue.jpeg');
    background-size:cover;
}



/* ****************************** BANNER RECETARIOS ******************************** */

.texto-banner-recetarios {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background: linear-gradient(41deg, rgba(3,53,131,1) 0%, rgba(138,104,8,1) 0%, rgba(186,42,42,1) 33%, rgba(161,42,58,1) 55%, rgba(11,40,133,1) 75%);
    /* background: linear-gradient(207deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    
}
    .texto-banner-recetarios h1{
        width: 80%;
        font-size: 60px;
        color: white;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 10px;
    }
    .texto-banner-recetarios h2{
        width: 80%;
        font-size: 30px;
        color: white;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .texto-banner-recetarios p{
        width: 80%;
        font-size: 20px;
        color: white;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: justify;
    }
    .texto-banner-recetarios button {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgb(121, 113, 77,0);
        border-style: none;
        border: 2px solid white;
        border-radius: 30px;
        margin-top: 20px;
        list-style: none;
        cursor: pointer;
    }
    .texto-banner-recetarios a{
        font-size: 20px;
        color: white;
        text-decoration: none;        
    }
    .texto-banner-recetarios button:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }

.imagen-banner-recetarios {
    width: 30%;
    height: 400px;
    background-image: url('../Images/RecetariosBlue.jpeg');
    background-size:cover;
}

/* ****************************** BANNER TELEMEDICINA ******************************** */

.texto-banner-telemedicina {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background: linear-gradient(41deg, rgba(8,124,138,1) 10%, rgba(3,42,99,1) 41%, rgba(3,23,87,1) 53%, rgba(2,22,77,1) 55%, rgba(30,16,66,1) 74%);

}
    .texto-banner-telemedicina h1{
        width: 80%;
        font-size: 40px;
        color: white;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 10px;
    }
    .texto-banner-telemedicina p{
        width: 80%;
        font-size: 20px;
        color: white;
        font-weight: 300;
        text-align: justify;
        letter-spacing: 1px; 
    }
    .texto-banner-telemedicina button {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgb(121, 113, 77,0);
        border-style: none;
        border: 2px solid white;
        border-radius: 30px;
        margin-top: 20px;
        list-style: none;
        cursor: pointer;
    }
    .texto-banner-telemedicina a{
        font-size: 20px;
        color: white;
        text-decoration: none;        
    }
    .texto-banner-telemedicina button:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }

.imagen-banner-telemedicina {
    width: 30%;
    height: 400px;
    background-image: url('../Images/Telemedicina.jpeg');
    background-size:cover;
}

/* ****************************** BANNER PRICE ******************************** */

.texto-banner-price {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(91,0,6,1) 0%, rgba(3,42,99,1) 12%, rgba(2,54,77,1) 49%, rgba(135,185,208,1) 88%, rgba(255,255,255,1) 98%);

}
    .texto-banner-price h1{
        width: 80%;
        font-size: 60px;
        color: white;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 10px;
    }
    .texto-banner-price p{
        width: 80%;
        font-size: 20px;
        color: white;
        font-weight: 300;
        text-align: justify;
        letter-spacing: 1px;        
    }
    .texto-banner-price button {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgb(121, 113, 77,0);
        border-style: none;
        border: 2px solid white;
        border-radius: 30px;
        margin-top: 20px;
        list-style: none;
        cursor: pointer;
    }
    .texto-banner-price a{
        font-size: 20px;
        color: white;
        text-decoration: none;        
    }
    .texto-banner-price button:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }

.imagen-banner-price {
    width: 35%;
    height: 400px;
    background-image: url('../Images/PriseLogo.JPG');
    background-size:cover;
}


/* **** Configuracion iPad Pro 1024px **** */
@media screen and (max-width: 1024px) {
    .container-servicios {
        height: 1330px;
    }
    .container-banner-1{
        height: 350px;
    }
    .container-banner-2{
        height: 350px;
    }

    .imagen-banner-sistemas {
        width: 40%;
        height: 350px;
    }
    .texto-banner-sistemas {
        width: 60%;
    }
        .texto-banner-sistemas h1{
            font-size: 40px;
            line-height: 38px;
            margin-bottom: 15px;
        }
        .texto-banner-sistemas p{
            font-size: 19px;
            margin-bottom: 0px;
            line-height: 25px;
        }

    .imagen-banner-recetarios {
        width: 40%;
        height: 350px;
    }
    .texto-banner-recetarios {
        width: 60%;
    }
        .texto-banner-recetarios h1{
            font-size: 40px;
            margin-bottom: 5px;
            margin-top: 2px;
        }
        .texto-banner-recetarios h2{
            font-size: 24px; 
            margin-bottom: 10px;       
        }
        .texto-banner-recetarios p {
            margin-bottom: -2px;
            line-height: 25px;
        }
    
    .imagen-banner-telemedicina {
        width: 50%;
        height: 350px;
    }
    .texto-banner-telemedicina {
        width: 50%;
    }
        .texto-banner-telemedicina p{
            line-height: 25px;
        }

    .texto-banner-price {
        width: 50%;
    }
        .texto-banner-price p{
            line-height: 25px;
        }
    .imagen-banner-price {
        width: 50%;
    }
}

/* **** Configuracion iPad 768px **** */
@media screen and (max-width: 768px) {
    .imagen-banner-sistemas {
        width: 40%;
        height: 350px;
    }
    .texto-banner-sistemas {
        width: 60%;
    }
        .texto-banner-sistemas h1{
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 15px;
        }
        .texto-banner-sistemas p{
            width: 90%;
            font-size: 16px;
            margin-bottom: 0px;
        }
    
    .imagen-banner-recetarios {
        width: 40%;
        height: 350px;
    }
    .texto-banner-recetarios {
        width: 60%;
    }
        .texto-banner-recetarios h1{
            font-size: 35px;
            margin-bottom: 5px;
            margin-top: 2px;
        }
        .texto-banner-recetarios h2{
            font-size: 20px; 
            margin-bottom: 15px;       
        }
        .texto-banner-recetarios p {
            width: 90%;
            font-size: 18px;
            margin-bottom: 5px;
        }

    .texto-banner-telemedicina h1 {
        font-size: 30px;
    }
    .texto-banner-telemedicina p {
        font-size: 16px;
    }

    .imagen-banner-price {
        width: 48%;
        height: 300px;
    }
    .texto-banner-price {
        width: 52%;
    }
        .texto-banner-price h1 {
            font-size: 35px;
        }
        .texto-banner-price p {
            font-size: 18px;
        }
}

/* **** Configuracion Nokia N9 480px **** */
@media screen and (max-width: 480px) {
    .container-servicios {
        width: 100%;
        height: auto;
    }
    .container-banner-1{
        height: 670px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-banner-2{
        height: 670px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .imagen-banner-sistemas {
        width: 100%;
        height: 270px;
    }
    .texto-banner-sistemas {
        width: 100%;
        height: 400px;
    }
        .texto-banner-sistemas h1{
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 60px;
            margin-top: -50px;
        }
        .texto-banner-sistemas p{
            font-size: 17px;
            margin-bottom: 40px;
        }

    .imagen-banner-recetarios {
        width: 100%;
        height: 300px;
    }
    .texto-banner-recetarios{
        width: 100%;
        height: 370px;
    }

    .imagen-banner-telemedicina {
        width: 100%;
        height: 300px;
    }
    .texto-banner-telemedicina {
        width: 100%;
        height: 370px;
        background: linear-gradient(141deg, rgba(8,124,138,1) 10%, rgba(3,42,99,1) 41%, rgba(3,23,87,1) 53%, rgba(2,22,77,1) 55%, rgba(30,16,66,1) 74%);
    }
    .texto-banner-telemedicina h1{
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 60px;
        margin-top: -50px;
    }
    .texto-banner-telemedicina p{
        font-size: 17px;
        margin-bottom: 40px;
    }

    .imagen-banner-price {
        width: 100%;
        height: 300px;
    }
    .texto-banner-price {
        width: 100%;
        height: 370px;
        background: linear-gradient(0deg, rgba(91,0,6,1) 0%, rgba(3,42,99,1) 12%, rgba(2,54,77,1) 49%, rgba(135,185,208,1) 88%, rgba(255,255,255,1) 98%);
    }
}

/* **** Configuracion iPhone X y 6/7/8 375px **** */
@media screen and (max-width: 375px) {
    
    .container-banner-1, 
    .container-banner-2{
        height: auto;
    }
    
    .imagen-banner-sistemas,
    .imagen-banner-recetarios, 
    .imagen-banner-telemedicina,
    .imagen-banner-price {
        height: 270px;
    }
    .texto-banner-sistemas,
    .texto-banner-recetarios, 
    .texto-banner-telemedicina,
    .texto-banner-price {
        height: 480px;
    }
        .texto-banner-sistemas h1 {
            font-size: 26px;
        }
        .texto-banner-sistemas p {
            font-size: 17px;
            letter-spacing: 1px;
        }
        .texto-banner-telemedicina h1 {
            font-size: 27px;
        }
        .texto-banner-telemedicina p {
            font-size: 16px;
        }
        .texto-banner-price p {
            font-size: 19px;
            letter-spacing: 2.5px;
        }        
}

/* **** Configuracion iPhone 5/ SE 320px **** */
@media screen and (max-width: 320px) {
    
    .container-banner-1, 
    .container-banner-2{
        height: auto;
    }

    .imagen-banner-sistemas,
    .imagen-banner-recetarios, 
    .imagen-banner-telemedicina,
    .imagen-banner-price {
        height: 220px;
    }
    .texto-banner-sistemas,
    .texto-banner-recetarios, 
    .texto-banner-telemedicina,
    .texto-banner-price {
        height: 560px;
    }   
        .texto-banner-sistemas h1{
            margin-bottom: 30px;
        }
        .texto-banner-sistemas p {
            font-size: 18.5px;
            letter-spacing: 1.2px;
        }
        .texto-banner-recetarios h1{
            margin-bottom: 25px;
        }
        .texto-banner-recetarios h2{
            margin-bottom: 25px;
        }
        .texto-banner-telemedicina h1{
            margin-bottom: 30px;
        }
        .texto-banner-price h1{
            margin-bottom: 30px;
        }

}