.container-chatbot {
    width: 100%;
    height: 480px;      
    /* background: red; */
}
.chatbot-area{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    padding-bottom: 50px;
    position: relative;
    z-index: 10;
    top: 60px;
    /* left: 690px; */
}
    .texto-bienvenida-chat{
        width: 50%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(87deg, rgba(37,10,119,1) 5%, rgba(6,47,126,1) 19%, rgba(2,113,170,1) 66%, rgba(39,170,166,1) 100%);;
        color: white;
    }
        .texto-bienvenida-chat h1{
            font-size: 40px;
            letter-spacing: 2px;
        }
        .texto-bienvenida-chat p {
            font-size: 20px;
            letter-spacing: 2px;
            margin-top: -5px;
        }
    .ventana-chat {
        width: 50%;
        display: flex;
        justify-content: center;
        /* background: purple; */
    }
.chatbot {
    width: 78%;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    margin-bottom: 40px;
    background: rgba(2, 38, 68, 1); 
    
}
.chatLink {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(331deg, rgba(49,6,102,1) 15%, rgba(129,25,40,1) 49%, rgba(2,54,157,1) 92%);
    border-radius: 20px;
}
    .chatLink p {
        color: white;
        text-align: center;
        font-size: 12px;
        margin-bottom: 0px;
    }
    .chatLink h1 {
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .chatLink li {
        list-style: none;
    }
    .chatLink a {
        text-decoration: none;
    }



/* ********************* MEDIA QUERIES ********************** */

/* **** Configuracion iPad Pro 1024px **** */
@media screen and (max-width: 1024px) {
    .container-chatbot {
        height: 650px;
        margin-top: -60px;
    }
    .chatbot-area {
        flex-direction: column;
    }
        .texto-bienvenida-chat{
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
        }
            .texto-bienvenida-chat h1{
                margin-bottom: 10px;
            }
}

/* **** Configuracion iPad Pro 1024px **** */
@media screen and (max-width: 1024px) {
    .container-chatbot {
        height: 660px;
    }
}

/* **** Configuracion Nokia N9 480px **** */
@media screen and (max-width: 480px) {
    .container-chatbot {
        height: 530px;
    }
    .texto-bienvenida-chat {
        display: none;
    }
    /* .texto-bienvenida-chat{
        width: 100%;
        height: auto; 
        margin-bottom: 20px;
    }
        .texto-bienvenida-chat h1{
            margin-top: 30px;
            font-size: 30px;
        }
        .texto-bienvenida-chat p{
            font-size: 17px;
            margin-bottom: 30px;
        } */
    .ventana-chat {
        width: 100%;
    }
}

/* **** Configuracion iPhone Plus 414px **** */
@media screen and (max-width: 414px) {
    .container-chatbot {
        height: 530px;
    }
        /* .texto-bienvenida-chat h1{
            font-size: 25px;
        }
        .texto-bienvenida-chat p{
            font-size: 16px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        } */
}

/* **** Configuracion iPhone X y 6/7/8 375px **** */
@media screen and (max-width: 375px) {
    .container-chatbot {
        height: 530px;
    }
    /* .texto-bienvenida-chat h1{
        font-size: 23px;
    }
    .texto-bienvenida-chat p{
        font-size: 15px;
    } */
}

/* **** Configuracion iPhone 5/SE 320px **** */
@media screen and (max-width: 320px) {
    /* .texto-bienvenida-chat h1{
        font-size: 20px;
    } */
}