.container-chatbutton {
    width: 180px;
    height: 150px;
    display: flex;
    align-items: flex-start; /*flex-end*/
    justify-content: center; /*flex-end*/
    font-size: 20px;
    position: sticky;
    bottom: 0px;
    /* padding: 50px; */
    /* background: red; */
}

.chatbutton {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
    /* border-radius: 100px; */
    /* background: sienna; */
}    
    .fontAwesomeChat{      
        width: 50% ;
        height: 50%;  
        font-size: 100px;
        /* color: rgb(0, 195, 186); */
        color: white;
        padding: 30px;
        margin-left: 0px;  
    }
        
        


    /* **** Configuracion LapTop 1366px **** */
@media screen and (max-width: 1366px) {
   
}

/* **** Configuracion iPad Pro 1024px **** */
@media screen and (max-width: 1024px) {
    .container-chatbutton {
        width: 170px;
        height: 140px;
    }
        .chatbutton {
            width: 140px;
            height: 140px;
        }
            .fontAwesomeChat{      
                width: 50% ;
                height: 50%;  
                font-size: 100px;
            }    
}

/* **** Configuracion iPad 768px **** */
@media screen and (max-width: 768px) {
    .container-chatbutton {
        width: 150px;
        height: 130px;
    }
        .chatbutton {
            width: 130px;
            height: 130px;
        }
            .fontAwesomeChat{   
                font-size: 100px;
            }      
}

/* **** Configuracion Nokia N9 480px **** */
@media screen and (max-width: 480px) {
    .container-chatbutton {
        width: 140px;
        height: 120px;
    }
        .chatbutton {
            width: 120px;
            height: 120px;
        }
            .fontAwesomeChat{   
                font-size: 110px;
            }   
    
}

/* **** Configuracion iPhone Plus 414px **** */
@media screen and (max-width: 414px) {
    .container-chatbutton {
        width: 130px;
        height: 110px;
    }
        .chatbutton {
            width: 110px;
            height: 110px;
        }
            .fontAwesomeChat{   
                font-size: 100px;
                padding: 25px;
                margin-left: 5px;
            }  
    
}

/* **** Configuracion iPhone X y 6/7/8 375px **** */
@media screen and (max-width: 375px) {
    .fontAwesomeChat{   
        font-size: 90px;
        margin-left: 0px;
    }
}

/* **** Configuracion iPhone 5/SE 320px **** */
@media screen and (max-width: 320px) {
    .container-chatbutton {
        width: 85px;
        height: 110px;
    }
        .chatbutton {
            width: 85px;
            height: 110px;
        }
            .fontAwesomeChat{   
                font-size: 80px;
                padding: 20px;
            }  

  
}