.container-dashboard{
    width: 100%;
    height: auto;
}
    .header-dashboard{
        width: 100%;
        height: 200px;
        background: linear-gradient(180deg, rgba(2,17,64,1) 56%, rgba(0,213,150,1) 100%);
        margin-top: -120px;
    }
    .dashboard-block{
        width: 100%;
        height: auto;
        display: flex;        
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
        background: rgb(218, 218, 218);
    }
        .dashboard-publicity-container{
            flex-basis: 38%;
            display: flex;
            justify-content: center;
            background: rgb(255, 255, 255);    
            padding-top: 50px;
            padding-bottom: 50px;        
        }
            .dashbord-publicity-commercial{
                width: 90%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 10px;
                background: transparent;                
            }
                .dashboard-bienvenida{
                    width: 100%;
                    font-family: 'Questrial';
                    text-align: justify;
                    color:  #010d57;  
                    padding: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-radius: 30px;
                }
                    .dashboard-bienvenida h1{
                        letter-spacing: 2px;
                    }
                    .dashboard-bienvenida h3{
                        letter-spacing: 1px;
                        font-size: 20px;
                    }             
                
        .dashboard-buttons-links{
            flex-basis: 58%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background: white;
        }
        .dashboard-buttons-links a:hover{
            list-style: none;
            text-decoration: none;
        }
            .dashboard-buttons-links button{
                width: 340px;
                height: 180px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                font-family: 'Questrial';
                font-size: 20px;
                border: none;
            }                
            .bitacora-btn{
                color: rgb(0, 95, 184);
                background:rgb(202, 230, 255) ;
            }
                .bitacora-btn:hover{
                    background:rgb(218, 237, 253) ;
                }
            .recetas-btn{
                color: orangered;
                background: rgb(255, 215, 200);
            }
                .recetas-btn:hover{
                    background: rgb(255, 224, 213);
                }
            .consejos-btn{
                color: green;
                background: rgb(206, 255, 206);
            }
                .consejos-btn:hover{
                    background: rgb(224, 255, 224);
                }
            .FontAwesomeBitacora{
                font-size: 50px;
                color: rgb(0, 95, 184);
            }
            .FontAwesomeCubiertos{
                font-size: 50px;
                color: orangered;
            }
            .FontAwesomeConsejos{
                font-size: 50px;
                color: green;
            }


            
/* **** Configuracion Lap top 1366px **** */
@media screen and (max-width: 1366px){
    .dashboard-publicity-container{
        flex-basis: 35%;
    }
        .dashbord-publicity-commercial{
            width: 80%;
        }

    .dashboard-buttons-links{
        flex-basis: 60%;
    }
        .dashboard-buttons-links button{
            width: 250px;
        }
}

/* **** Configuracion iPad Pro 1024px **** */
@media screen and (max-width: 1024px) {
    .dashboard-block{
        width: 100%;
        height: auto;
        display: flex;       
        flex-direction: column; 
        justify-content: space-evenly;
        padding: 20px 20px 20px 20px;
        background: rgb(218, 218, 218);
    }
    .dashboard-publicity-container{
        flex-basis: 38%;
        display: flex;
        justify-content: center;
        background: rgb(255, 255, 255);    
        padding-top: 50px;
        padding-bottom: 50px;  
        margin-bottom: 30px;      
    }
    .dashboard-buttons-links{
        padding: 30px 0px 30px 0px;
    }
        .dashboard-buttons-links button{
            width: 300px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-family: 'Questrial';
            font-size: 25px;
            border: none;
        }     
        .FontAwesomeBitacora{
            font-size: 70px;
        }
        .FontAwesomeCubiertos{
            font-size: 70px;
        }
        .FontAwesomeConsejos{
            font-size: 70px;
        }
}

/* **** Configuracion iPad 768px **** */
@media screen and (max-width: 768px) {
    .dashboard-buttons-links button{
        width: 220px;
        height: 200px;
        font-size: 23px;
    }
    .FontAwesomeBitacora{
        font-size: 60px;
    }
    .FontAwesomeCubiertos{
        font-size: 60px;
    }
    .FontAwesomeConsejos{
        font-size: 60px;
    }
}

/* **** Configuracion Nokia 480px **** */
@media screen and (max-width: 480px) {
    .dashboard-bienvenida{
        text-align: left;    
    }
    .dashboard-buttons-links{
        flex-direction: column;
    }
        .dashboard-buttons-links button{
            width: 350px;
            height: 250px;
            font-size: 30px;
            margin-bottom: 20px;
        }
}

/* **** Configuracion iPhone X y 6/7/8 375px **** */
@media screen and (max-width: 375px) {
    .dashboard-publicity-container{   
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    .dashbord-publicity-commercial{
        width: 95%;
        margin-top: 0px;
        margin-bottom: 0px;                
    }
    .dashboard-buttons-links button{
        width: 290px;
        height: 200px;
        font-size: 28px;
    }    
}

/* **** Configuracion iPhone 5/SE 320px **** */
@media screen and (max-width: 320px) {
    .dashbord-publicity-commercial{
        width: 100%;    
    }
    .dashboard-buttons-links button{
        width: 250px;
        height: 200px;
        font-size: 26px;
    } 
}