.container-form-auth {
    width: 100%;
    height: auto;
}   
    .form-block{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, rgba(2,50,82,1) 38%, rgba(0,109,128,1) 83%);
    }
    .sign-up-form{
        height: 640px;
    }
    .sign-in-form{
        height: 400px;
    }
    .form-auth{
        width: 600px;
        /* height: 400px; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Questrial', sans-serif;
        color: white;
        letter-spacing: 2px;
        background: none;
        margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 20px;
        /* border: 1px solid rgb(65, 72, 85); */
    }
        .cont-auth-title{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
            .form-auth-title{
                font-size: 25px;
            }
        .secc-form{
            margin-top: 20px;
        }
        .form-auth label{
            font-size: 20px;
        }
        .input-field {
            width: 400px;
            height: 40px;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            border-radius: 10px;
            border: 1px solid rgb(141, 155, 199);
            padding-left: 10px;
            margin-top: 10px;
        }
        .btn-sign {
            width: 180px;
            height: 60px;
            display:inline-block;                  
            font-family: 'Montserrat';
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 2px;
            text-decoration:none;	                   
            color:white;
            /* background-color:transparent; */
            background: orangered;
            border:1px solid orangered;
            border-radius: 10px;     
            margin:5px;  
            margin-top: 20px;  
            margin-bottom: 20px;                        
            background-size: 200% 100%;	
            background-image: linear-gradient(to right, transparent 50%, #1b8f8f 50%);
            transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
        }
        .btn-sign:hover {
            color:rgba(255, 255, 255, 1);
            background-color:#1b8f8f;
            background-position: -100% 100%;
            border:2px solid #1b8f8f;
        }
    
    .no-registrado{
        display: flex;
        color: rgb(197, 197, 197);
    }
        .no-registrado a {
            list-style: none;
            text-decoration: none;
            color: orange;
            margin-left: 20px;
        }

    .politicas-privacidad{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
        .politicas-privacidad a {
            margin-bottom: 8px;
            color: gray;
            font-size: 13px;

        }

    .cuenta-existente {
        margin-top: 10px;
    }
        .cuenta-existente li {
            color: white;
            font-family: 'Questrial', sans-serif;    
            font-size: 18px;        
        }
        .cuenta-existente a {
            list-style: none;
        }
        .cuenta-existente a:hover{
            text-decoration: none;
        }