.container-form-auth {
    width: 100%;
    height: auto;
}   
    .form-block{
        width: 100%;
        height: 640px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, rgba(2,50,82,1) 38%, rgba(0,109,128,1) 83%);
    }

    .form-advice-signin{
        width: 450px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Questrial';
        color: white;
        background: orangered;
        border-radius: 30px;
        z-index: 100;
        animation: crossLeft 1s forwards;
    }
    .form-advice-signup{
        width: 450px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Questrial';
        color: white;
        background: orangered;
        border-radius: 30px;
        z-index: 100;
        animation: crossRight 1s forwards;
    }
    
    .form-auth{
        width: 600px;
        /* height: 400px; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Questrial', sans-serif;
        color: white;
        letter-spacing: 2px;
        background: none;
        margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 20px;        
    }
        .cont-auth-title{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .form-auth-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .form-auth-title h2{
                font-size: 25px;
            }
            .form-auth-title h5{
                margin-top: -5px;
                font-size: 17px;
            }
        .secc-form{
            margin-top: 20px;
        }
        .form-auth label{
            font-size: 20px;
        }
        .input-field {
            width: 400px;
            height: 40px;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            border-radius: 10px;
            border: 1px solid rgb(141, 155, 199);
            padding-left: 10px;
            margin-top: 10px;
        }
        .btn-sign {
            width: 180px;
            height: 60px;
            display:inline-block;                  
            font-family: 'Montserrat';
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 2px;
            text-decoration:none;	                   
            color:white;
            /* background-color:transparent; */
            background: orangered;
            border:1px solid orangered;
            border-radius: 10px;     
            margin:5px;  
            margin-top: 20px;  
            margin-bottom: 20px;                        
            background-size: 200% 100%;	
            background-image: linear-gradient(to right, transparent 50%, #1b8f8f 50%);
            transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
        }
        .btn-sign:hover {
            color:rgba(255, 255, 255, 1);
            background-color:#1b8f8f;
            background-position: -100% 100%;
            border:2px solid #1b8f8f;
        }
    
    .no-registrado{
        display: flex;
        color: rgb(197, 197, 197);
    }
        .no-registrado a {
            list-style: none;
            text-decoration: none;
            color: orange;
            margin-left: 20px;
        }

    .politicas-privacidad{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
        .politicas-privacidad a {
            margin-bottom: 8px;
            color: gray;
            font-size: 13px;

        }

    .cuenta-existente {
        margin-top: 10px;
    }
        .cuenta-existente li {
            color: white;
            font-family: 'Questrial', sans-serif;    
            font-size: 18px;        
        }
        .cuenta-existente a {
            list-style: none;
        }
        .cuenta-existente a:hover{
            text-decoration: none;
        }

.form-advice-signin h1, .form-advice-signup h1{
    animation: disolveTitleSign 2s forwards;
}

.apearSignin{
    animation: disolvSigninForm 2s forwards;        
}

.apearSignup{
    animation: disolvSignupForm 2s forwards;        
}

@keyframes crossLeft {
    0%{
        transform: translateX(500px);
        border-radius: 0px 0px 0px 0px;
    }
    100%{
        transform: translateX(0px); 
        border-radius: 30px 0px 0px 30px;
    }
}

@keyframes crossRight {
    0%{
        transform: translateX(-500px);
        border-radius: 0px 0px 0px 0px;
    }
    100%{
        transform: translateX(0px); 
        border-radius: 0px 30px 30px 0px;
    }
}
@keyframes disolvSigninForm{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px); 
        opacity: 1;
    }
}
@keyframes disolvSignupForm{
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    100%{
        transform: translateX(-50px); 
        opacity: 1;
    }
}

@keyframes disolveTitleSign {
    from{
        opacity: 0;
    }
    to{
        
        opacity: 1;
    }
}

/* **** Configuracion iPad Pro 1024px **** */
@media screen and (max-width: 1024px){
    .form-block{
        flex-direction: column;
    }
    .signupFormBlock{
        flex-direction: column-reverse;
    }
    .form-advice-signin{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        z-index: 100;
        animation: none;
        margin-top: -60px;
    }
    .form-advice-signup{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        z-index: 100;
        animation: none;
        margin-top: -10px;
    }
    .form-auth{
        margin-top: 0px;
    }
    .btn-sign:hover {
        color:white;
        background: orangered;
        border:1px solid orangered;
    }

    @keyframes disolvSignupForm{
        0%{
            transform: translateX(50px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px); 
            opacity: 1;
        }
    }  
    
}

/* **** Configuracion Nokia N9 480px **** */
@media screen and (max-width: 480px){
    .form-advice-signin{
        height: 120px;
        margin-top: -60px;
        z-index: 0px;
    }
    .form-advice-signup{
        height: 120px;
        margin-top: -10px;
        z-index: 0px;
    }
    .form-auth{
        width: 90%;
    }
    .apearSignin{
        animation: none;        
    }
    
    .apearSignup{
        animation: none;        
    }

}

/* **** Configuracion iPhone Plus 414px **** */
@media screen and (max-width: 414px) {
    
    .form-advice-signin{
        height: 60px;
        margin-top: -83px;
        z-index: 0px;
    }
    .form-advice-signup{
        height: 60px;
        margin-top: -54px; 
        z-index: 0px;
    }
    .no-registrado{ 
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .form-advice-signin h1, .form-advice-signup h1{
        font-size: 25px;
    }
}

/* **** Configuracion iPhone X y 6/7/8 375px **** */
@media screen and (max-width: 375px){
    .form-advice-signin{
        height: 50px;
        margin-top: -92px;
    }        
    .form-advice-signup{
        height: 50px;
        font-size: 18px;
        margin-top: -64px; 
    }
    .form-advice-signin h1, .form-advice-signup h1{
        font-size: 23px;
    }
       
}